/* DEFAULT STYLES */

.blog-preview {
	
}
.blog-preview a {
	display: block;
}
.blog-sidebar, .blog-side-year  {
	list-style:none;
	margin:0;
	padding:0;
}
.blog-side-year {
}
.blog-side-month {
	font-size:18px;
	margin-top:2px;
	margin-left:5px;
}
.archive-post {
	margin-left:10px;
}
.archive-post a {
	font-size:16px;
}
.blog-year-link {
	font-size:24px;
	margin-top:10px;
}

/* BLOG settings ************************/

#blog {
	display: flex;
	justify-content: center;
}

#blog .articles {
    flex-basis: 65%;
    flex-grow: 1;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px; 
}

#blog article {
    flex-basis: 45%;
    flex-grow: 1;
    padding: 24px;
    border: 1px solid #000;
    margin-bottom: 24px;
}

#blog article:nth-child(even) {
    margin-left: 24px;
}

#blog article:last-of-type {
    flex-basis: 48.5%;
    content: "";
    flex-grow: 0;
}

#blog .side-bar {
	flex-basis: 30%;
	border: 1px solid;
}

.blog-sidebar {
	list-style: none;
}

.blog-img-wrapper img {
	max-width: 100%;  
}


