/* General */ 

html {font-size: 1em;}

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.max-width {
	max-width: 1200px;
	margin: 0 auto; 
}

/* Buttons */

.btn {
	text-decoration: none;
    width: 175px;
    display: inline-block;
    background-color: #1f8296;
    color: #fff;
    text-align: center;
    transition: 1s ease-in-out;
    border-radius: 0px;
    font-size: 14px;
    line-height: 50px;
    padding: 0px;
}

/* Navigation */

.flex-navigation {
	padding: 24px;
    min-height: 60px;
}
.navigation-items {
	display: flex;
}
.navigation {
	flex: 1 1 auto;
	display: flex;
	padding: 0;
    margin: 0;
    justify-content: flex-end; 
}
.navigation-item,
.nav-item {
	list-style-type: none;
	padding: 0 15px 0 0;
    margin: 0;
}

.nav-link {
    font-size: 12px;
}

.nav-link:last-of-type {
	padding-right: 0px; 
}

.navigation-link:link,
.navigation-link:visited {
	text-decoration: none;
}

.logo {
    min-width: 300px;
    display: flex;
    align-self: center;
}

/* Navigation Toggle */

.navigation-toggle {
	display: none;
	position: absolute;
	top: 12px;
    right: 24px; 
    cursor: pointer;
}

.navigation-toggle i {
	font-size: 30px;
}

/* Navigation Responsive */

@media (max-width: 979px) {
	.navigation-items {
		display: none;
	}
	.navigation {
		flex-direction: column;
		text-align: center;
	}
	.flex-navigation {
	padding: 0px 0px 24px; 
	}
	.logo {
    align-self: flex-start;
    text-align: center; 
    padding: 24px 0px;
    display: block;  
	}
}

/* Banner */

#banner-wrap {
	position: relative; 
	background-image: url(images/gen-banner.jpg); 
}

.banner-text-wrap {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
}

.banner-text {
	position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

.slick-slide img {
    display: block;
    min-height: 480px;
    width: 100%; 
}

/* General Content */ 

.content-container {
	padding: 80px 0px; 
}

@media(max-width: 1280px) {
	.content-container {
	padding: 80px 40px; 
	}
}

.ek-editor-wrapper {
	padding: 32px 40px; 
	border: 1px solid #eee; 
}

/* Flex Standards */ 

.flex-wrapper {
	display: flex; 
	flex-wrap: wrap; 
}

.flex-50 {
	flex-basis: 45%; 
	flex-grow: 1; 
}

/* Slick */

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

/* Index Page */ 

.index-content-1 {
	padding: 32px;
}

.ck-editor-wrapper {
	border: 1px solid #bababa;
}

/* Footer */ 

.footer-btm-wrapper {
	padding: 8px;
    font-size: 12px;
    line-height: 23px; 
    background-color: #2d2d2d;
    color: #fff;  
}

.bt-top {
	display: flex; 
    justify-content: flex-end; 
}

@media(max-width: 800px) {
	.footer-btm-wrapper {
    	padding: 24px;
	}
	.footer-btm-wrapper .flex-50 {
		flex-grow: 1;
	    padding: 8px 24px;
	    text-align: center;
	    flex-basis: 100%;
	}
	.bt-top {
    display: flex;
    justify-content: center;
	}
}

